@use "@Styles/shared/colours" as *;
@use "@Styles/shared/responsive" as *;
@use "@Styles/shared/typography" as *;

#skills_section {
    @include max-width-responsive;
    margin-top: 2rem;
    overflow: hidden;
    min-height: 37rem;
    .title {
        @include h3;
    }
    .categories {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .category {
            @include subtitle;
            padding: 0.25rem;
            border-bottom: 1px solid $slate-800;
            @include sm {
                padding: 1rem;
            }
        }
    }

    .category-underline {
        position: absolute;
        bottom: 0;
        height: 3px;
        background-color: $purple-600;
        border-radius: 2px;
        z-index: 0;
      }

    .skills {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}


.skill {
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 0.125rem;
    gap: 0.25rem;
    background-color: rgba(255, 255, 255, 0.08);

    .skill-icon {

        .icon-image {
            width: 2rem;
        }
    }
    
}
  